.users-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
form h2{
  text-align: center;
}
.users-container > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.users-container a {
  align-self: flex-end;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.users-container a:hover {
  background-color: #007bff;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

thead th {
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0056b3;
}



/* Create User */
.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4; /* Light neutral background */
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
}

button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
